# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/

# Streamlit
.streamlit/

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs and Reports
logs/
reports/
api/dc_microgrid_dwt/logs/
api/dc_microgrid_dwt/reports/

# Machine Learning / Data files
# Models are explicitly tracked in this repository
# *.h5
# *.pkl
# *.model
